<?xml version="1.0" encoding="utf-8" ?>
<config>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="neighborhood_field" type="Everis\Direccion\Plugins\CheckoutLayoutProcessor" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save_quote_shipping" type="Everis\Direccion\Plugins\Quote\AddressShippingPersister" />
    </type>
</config>
